.main-footer {
  background-color: #F2F2F2;
}

.main-footer__copyright a {
  font-family: Arial, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;

  &__logo-footer--academy img {
    color: #666666;
  }
}

.main-footer__wrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 30px 19px 22px 19px;
}

@media (min-width: @tablet-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 58px 30px 55px 30px;
  }
}

@media (min-width: @desktop-width) {
  .main-footer__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 57px 110px 58px 110px;
  }
}

.copyright__link {
  width: 165px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
